
/* 
CSS in JS 
dynamically inject in JS

1. Import CSS as module
import style from './index.css'
<div className = {styles.app} /> 

2. Impprt CSS as whole
import './index.css'
<div classNam = "app" />

*/

.robotItem{
background-color: #4d675a;
margin: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding-bottom: 15px;
}
  

.robotItem:hover {
    -webkit-transform: rotate(7deg);      
    -moz-transform: rotate(7deg);      
    -o-transform: rotate(-7deg); 
    transition: 0.3s;
    scale: (1.2);
}

.robotItem > img{
    width: 80%;
    height: 80%;
}